<p class="footer-info">© 2019 <a href="https://github.com/junbin123" class="footer-link" target="_blank">Junbin123</a>

    <br />
    Theme <a href="https://github.com/junbin123/hexo-theme-binbin" class="footer-link" target="_blank">Binbin</a> |
    Powered by <a href="https://hexo.io/zh-cn/" class="footer-link" target="_blank">Hexo</a>
</p>