/* #################### archive.ejs #################### */

.archive {
    padding-left: 24px;
}

.archive-item {
    margin: 18px 0;
    transition: all .3s linear;
}

.archive-year{
    font-size: 20px;
    font-weight: bold;
}

.archive-item__title {
    font-size: 16px;
    font-weight: 500;
}

.archive-item__date {
    font-size: 12px;
}

.archive-item:hover {
    color: #BF4033;
    animation-name: shake;
    -webkit-animation-name: shake;
    animation-duration: 5s;
}