.icon-24px {
    width: 24px;
    height: 24px;
}

.icon-30px {
    width: 24px;
    height: 24px;
}

.icon-box-60px {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.post-title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 3px;
}

.post-info {
    font-size: 14px;
    color: #666;
}